<html>
	<head>
		<!-- Styles -->
		<link rel="stylesheet/less" type="text/css" href="style/variables.less" />
		<link rel="stylesheet/less" type="text/css" href="style/style.less" />
		<link rel="stylesheet/less" type="text/css" href="style/options.less" />
		<link rel="stylesheet/less" type="text/css" href="style/3d.less" />
		<link rel="stylesheet/less" type="text/css" href="style/main-menu.less" />
		<link rel="stylesheet/less" type="text/css" href="style/dark-theme.less" />
		
		<!-- Scripts -->
		<script src="libs/less.min.js" type="text/javascript"></script>
		<script src="libs/angular.min.js" type="text/javascript"></script>
		
		<!-- main -->
		<script src="app/module.js" type="text/javascript"></script>
		
		<!-- Controllers -->
		<script src="app/controllers/gameController.js" type="text/javascript"></script>
		<script src="app/controllers/minefieldController.js" type="text/javascript"></script>
		
		<!-- Services -->
		<script src="app/services/configService.js" type="text/javascript"></script>
		<script src="app/services/gameService.js" type="text/javascript"></script>
		<script src="app/services/minefieldService.js" type="text/javascript"></script>
		<script src="app/services/mineGeneratorService.js" type="text/javascript"></script>
		
		<!-- Directives -->
		<script src="app/directives/rightClickDirective.js" type="text/javascript"></script>
		<script src="app/directives/ngGameOptions/ngGameOptions.controller.js" type="text/javascript"></script>
		<script src="app/directives/ngGameOptions/ngGameOptions.directive.js" type="text/javascript"></script>
		<script src="app/directives/square/square.controller.js" type="text/javascript"></script>
		<script src="app/directives/square/square.directive.js" type="text/javascript"></script>
	</head>
	<body ng-app="minesweeper">
		<div>
			<div id="game">
				<div id="main-menu" ng-controller="GameController as game">
					<div>
						{{ minesLeft() }}
					</div>
					<button ng-click="newGame()">
						new
					</button>
				</div>
				<div id="field" ng-controller="MinefieldController as minefield">
					<div class="row" ng-repeat="row in field">
						<square model="square" ng-repeat="square in row track by $index" /> 
					</div>
				</div>
			</div>
			<div ng-game-options id="options"></div>
		</div>	
	</body>
</html>
