@import "variables";
@import "3d";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	display:flex;
	justify-content:center;
	align-items:flex-start;
}

ms-game{
	position:relative;
}

#game {
	background-color:@base-color;
	border:2px solid;
	padding:6px;
	padding-top:0;
	.border-rise-up-effect;
}

#game {
	ms-field {
		display:block;
		border:2px solid #FFF;
		.border-sink-down-effect;
		
		.row {
			display:flex;
			width:100%;
		}

		square {
			display:block;
		}

		.square {
			width:16px;
			height:16px;
			padding-top: 2px;
			font-size:12px;
			font-family:Courier;
			font-weight:bold;
			text-align:center;

			border:2px solid;
			.border-rise-up-effect;

			&.mine {
				background: #C10000;
				&.unexploded { background: #F0750F; }
			}

			&.open {
				background-color:none;
				border:0;
				border-style:solid;
				border-color:#7B7B7B;
				border-bottom-width:1px;
				border-right-width:1px;	
			}

			&.flag {
				background:#f9f214;
			}

			&.flag.flag-wrong {
				border-color:#C10000;
			}
			
			&.open-1 { color: #00F; }
			&.open-2 { color: #007B00; }
			&.open-3 { color: #F00; }
			&.open-4 { color: #A50021; }
			&.open-5 { color: #00F; }
			&.open-6 { color: #007B00; }
			&.open-7 { color: #F00; }
			&.open-8 { color: #A50021; }
		}
	}
}

#game .victory-popup {
	position: absolute;
	top: 30%;
    left: 2px;
    right: 0px;
	text-align:center;
    background-color: green;
    color: white;
    padding: 20px 0;

	button{
		background-color:transparent;
		border:0;
		text-decoration: underline;
		color:#fff;
		cursor: pointer;

		&:hover{
			text-decoration: none;
		}
	}
}