<div>
    <div id="game">
        <div id="main-menu">
            <div>
                {{ minesLeft() }}
            </div>
            <button ng-click="$ctrl.newGame()">
                new
            </button>
        </div>
        <ms-field></ms-field>
        <div class="victory-popup" ng-show="isVictorious()">
            <b>You beat the game!<b>
            <button ng-click="$ctrl.newGame()">play again?</button>
        </div>
    </div>
    <div ms-game-options id="options"></div>
</div>	