@import "variables";
@import "3d";

#game {
	background-color:@base-color;
	border:2px solid;
	padding:6px;
	padding-top:0;
	.border-rise-up-effect;
}

.victory-popup {
	position: absolute;
	top: 30%;
    left: 2px;
    right: 0px;
	text-align:center;
    background-color: green;
    color: white;
    padding: 20px 0;

	b {
		display:block;
	}

	button{
		background-color:transparent;
		border:0;
		text-decoration: underline;
		color:#fff;
		cursor: pointer;

		&:hover{
			text-decoration: none;
		}
	}
}

#main-menu {
	display:flex;
	justify-content: space-between;
	align-items:center;
	margin:6px 0;
	padding:2px;
	border:2px solid;
	.border-sink-down-effect;

	button { 
		background-color: @base-color;
		.border-rise-up-effect;
	}

	div.too-many-flags{
		color:red;
		text-decoration: underline;
	}
}