<div>
    <div id="game">
        <div id="main-menu">
            <div id="flags-left" [class.too-many-flags]="minesLeft() < 0">
                {{ minesLeft() }}
            </div>
            <button (click)="newGame()">
                new
            </button>
            <div id="timer">
                {{ timer() }}
            </div>
        </div>
        <ms-field></ms-field>
        <div class="victory-popup" *ngIf="isVictorious()">
            <b>You beat the game!</b>
            <button (click)="newGame()">play again?</button>
        </div>
    </div>
    <ms-game-options></ms-game-options>
</div>	