#options {
    display:flex;
    
    > button {
        background-color:transparent;
        text-decoration:underline;
        color:blue;
        border:0;
        
        margin-left:auto;
    }
    
    > button:hover {
        text-decoration:none;
        cursor:pointer;
    }
    
    .dialog {
        padding:10px;
        position: absolute;
        top: 20px;
        width:300px;
        right: ~"calc(50% - 150px)";
        background-color: white;
        border: 2px solid #000;    
    }
    
    .dialog button.cmd-apply {
        float:right;
        cursor:pointer;
    }

    .dialog button.cmd-close {
        position:absolute;
        font-weight: bold;
        top:0;
        right:0;
        width:40px;
        height:40px;
        background-color:transparent;
        border:0;
        cursor:pointer;
        border-radius:100%;

        &:hover{
            background-color:#e1e1e1;
        }
    }
    
    .dialog input {
        width:40px;   
    }
}