<div id="options">
    <button (click)="toggleDialog()">
    settings
    </button>
    @if (show) {
        <div class="backdrop"></div>
    }
    @if (show) {
        <div class="dialog">
            <button class="cmd-close" (click)="toggleDialog()">X</button>
            <table>
                <tr>
                    <td>Difficulty:</td>
                    <td>width</td>
                    <td>height</td>
                    <td>mines</td>
                </tr>
                @for (difficulty of difficulties; track difficulty.name) {
                    <tr>
                        <td>
                            <input
                                name="difficulty"
                                type="radio"
                                (click)="selectDifficulty(difficulty)"
                                [checked]="selectedDifficulty.name === difficulty.name"
                                /> {{ difficulty.name }}
                        </td>
                        <td>
                            @if (difficulty.editable) {
                                <div>
                                    <input type="text" [(ngModel)]="difficulty.width" />
                                </div>
                            } @else {
                                <div>
                                    {{ difficulty.width }}
                                </div>
                            }
                        </td>
                        <td>
                            @if (difficulty.editable) {
                                <div>
                                    <input type="text" [(ngModel)]="difficulty.height" />
                                </div>
                            } @else {
                                <div>
                                    {{ difficulty.height }}
                                </div>
                            }
                        </td>
                        <td>
                            @if (difficulty.editable) {
                                <div>
                                    <input type="text" [(ngModel)]="difficulty.mines" />
                                </div>
                            } @else {
                                <div>
                                    {{ difficulty.mines }}
                                </div>
                            }
                        </td>
                    </tr>
                }
            </table>

            <button class="cmd-apply" (click)="newGame()">
            Apply
            </button>
        </div>
    }
</div>
